services:
  web:
    image: ghcr.io/guymonagan/lms-web:latest
    container_name: lms_web
    command: >
      sh -c "python manage.py migrate &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      - db
      - redis


  nginx:
    image: nginx:alpine
    container_name: lms_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web


  db:
    image: postgres:15
    container_name: lms_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  redis:
    image: redis:7
    container_name: lms_redis

  celery:
    image: ghcr.io/guymonagan/lms-web:latest
    container_name: lms_celery
    command: celery -A config worker -l info
    env_file:
      - .env
    depends_on:
      - redis
      - db

  celery-beat:
    image: ghcr.io/guymonagan/lms-web:latest
    container_name: lms_celery_beat
    command: celery -A config beat -l info
    env_file:
      - .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
